

.cabecalho {
    display: flex;
    height: 90px;
    padding-top: 30px;
    padding-left: 100px;
    align-items: center;
    
}

.logo {
    display: flex;
    background-image: url(logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    align-items: center;
    padding-left: 30px;
    text-decoration: none;
    padding-right: 10px;
    color: white;

}
.nav {

    display: flex;
    align-items: center;
    height: 80px;
    gap: 40px;
    font-size: 20px;
    color: white;
    font-weight: 300;

}

.link {
    text-decoration: none;
    padding-right: 10px;
    color: white;
    }

    .linkDestacado{

        text-decoration: underline;
    }