
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.link {
    text-decoration: none;
}

.conteiner {

    background-image: url(/src/assets/img/img1.png);
    background-size: cover;
    background-position: bottom ;
    background-repeat: no-repeat;
    border: 1px solid rgba(255, 0, 0, 0);
    height: 800px;
}
.box {

    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 11rem;
    margin-left: 6rem;
    align-items: center;


}

.box > h1 {

    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 75px;
    color: white;
    text-wrap: nowrap;
    

}

.box > p {

    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 23px;
    color: white;
    text-wrap: nowrap;

}

.box > a {

    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding: 8px;
    color: white;
    background-color: #5E659D;
    border-radius: 6px;
    text-wrap: nowrap;
    width: 140px;
    text-align: center;

}


@media screen and (max-width:1000px) {
   
.box > h1 {

    font-size: 60px;

}

.box > p {
    
    font-size: 18px;

}

.box > a {

    font-size: 18px;
    padding: 10px;
}

}

@media screen and (max-width:700px) {
    body {
    
        width: 100vh;



    }
    .conteiner {

        background-image: url(/src/assets/img/img1.png);
        background-size: cover;
        background-position: bottom ;
        background-repeat: no-repeat;
        border: 1px solid rgba(255, 0, 0, 0);
        height: 800px;
    }
    .box {
    
        display: flex;
        flex-direction: column;
        width: 100vh;
        margin-top: 10rem;
        margin-left: 5rem;
        align-items: start;
        justify-content: center;
        align-content: center;
    
    
    }
    
    .box > h1 {
    
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 55px;
        color: white;
        justify-content: center;        
        justify-items: center;
        align-items: center;

    
    }
    
    .box > p {
    
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 17px;
        color: white;
        text-wrap: wrap;
        text-align: center;
        margin-top: 10px;
    
    }
    
    .box > a {
    
        margin-top: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 18px;
        padding: 10px;
        color: white;
        background-color: #5E659D;
        border-radius: 6px;
        text-wrap: nowrap;
        width: 140px;
        text-align: center;
    
    }
    

}
